* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #201E1F !important;
  font-family: 'Courier New', Courier, monospace; }

/* FOOTER */
footer {
  background-color: #201E1F;
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  height: 8em;
  margin-top: 1em;
  border-top: 2px solid #252422fa; }
  footer .copy {
    color: white;
    font-size: 2em;
    text-align: end;
    margin-bottom: 1px;
    text-justify: bottom; }
  footer .redes {
    color: #f9f7fc;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    margin-right: 1em;
    font-style: italic; }
  footer .logRedes {
    text-align: right; }

/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: sticky;
  top: 0%;
  background-color: #faaa55fa;
  height: 52%;
  width: 100%;
  z-index: 555;
  justify-content: space-between; }

.titulo1 {
  color: #201E1F;
  font-size: 5rem;
  display: flex; }

.menu_header {
  display: flex;
  justify-content: flex-end;
  margin-left: 100em; }

.title {
  margin: 0em;
  padding: 0em;
  position: fixed; }

.astro {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  position: relative;
  top: -12px;
  left: 30%;
  border-radius: 50%; }

.astroLogo {
  display: flex;
  justify-content: center; }

nav {
  display: flex;
  justify-content: flex-end;
  z-index: 5555; }

.bg-light {
  margin-left: 800px;
  margin-top: -170px; }

/* APLICANDO BOOTSTRAP */
.navbar-brand {
  font-size: 20px !important;
  margin-top: 15%;
  font-style: italic; }

.bg-light {
  background-color: #faaa55fa !important;
  --bs-bg-opacity: 0 !important;
  margin-left: 58%;
  margin-top: -20%; }

.nav-link {
  font-size: 20px !important;
  font-style: italic; }

/* GRIDS    INDEX */
.contenedor {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 327px 500px 500px 600px 0.5fr 600px 150px;
  grid-template-areas: "header" "subtitulo" "servicios" "logo" "article" "logo1" "footer";
  justify-items: stretch;
  justify-content: stretch; }

.header:first-child {
  grid-area: header;
  justify-self: stretch;
  width: 100%; }

.subtitulo {
  grid-area: subtitulo;
  justify-self: stretch; }

.service {
  grid-area: servicios;
  justify-self: stretch; }

.logo {
  grid-area: logo;
  height: 100%;
  width: auto; }

.articulo {
  grid-area: article;
  justify-self: stretch; }

.logo1 {
  grid-area: logo1;
  height: 100%; }

/* GRID CONTACTO */
.contenedor__contacto {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 327px 0.5fr 0.5fr 150px;
  grid-template-areas: "header " "formulario" "redes" "footer"; }

.header__contacto {
  grid-area: header;
  padding: 2em 1em; }

.formulario {
  grid-area: formulario;
  padding: 2em 1em; }

.contac_redes {
  grid-area: redes;
  padding: 2em 1em; }

.footer__contacto {
  grid-area: footer;
  padding: 2em 1em; }

/* GALERIA */
/* GRID GALERIA */
.contenedor_galeria {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 327px 1fr 150px;
  grid-template-areas: "header" "fotos" "footer"; }

.header {
  display: grid;
  grid-area: header; }

.grid_fotos {
  display: grid;
  grid-area: fotos; }

.footer {
  display: grid;
  grid-area: footer; }

/* GRIDS GALERIA FOTOS */
.galeria {
  margin: 1em 1em auto;
  height: 100%;
  width: 100%;
  position: relative;
  border: 5px double #7a6e6e;
  display: grid;
  grid-template-columns: repeat(3, 298px);
  grid-template-rows: repeat(6, 298px);
  grid-template-areas: "galeria10        galeria20     galeria30" "galeria40        galeria50     galeria60" "galeria70        galeria80     galeria90" "galeria100        galeria110     galeria120" "galeria130        galeria140     galeria150" "galeria160        galeria170     galeria180";
  justify-content: center;
  align-items: center; }

.galeria10 {
  grid-area: galeria10; }

.galeria20 {
  grid-area: galeria20; }

.galeria30 {
  grid-area: galeria30; }

.galeria40 {
  grid-area: galeria40; }

.galeria50 {
  grid-area: galeria50; }

.galeria60 {
  grid-area: galeria60; }

.galeria70 {
  grid-area: galeria70; }

.galeria80 {
  grid-area: galeria80; }

.galeria90 {
  grid-area: galeria90; }

.galeria100 {
  grid-area: galeria100; }

.galeria110 {
  grid-area: galeria110; }

.galeria120 {
  grid-area: galeria120; }

.galeria130 {
  grid-area: galeria130; }

.galeria140 {
  grid-area: galeria140; }

.galeria150 {
  grid-area: galeria150; }

.galeria160 {
  grid-area: galeria160; }

.galeria170 {
  grid-area: galeria170; }

.galeria180 {
  grid-area: galeria180; }

/* NOSOTROS GRID */
.contenedor_nosotros {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 327px 1fr 150px;
  grid-template-areas: "header" "acordion" "footer"; }

.header_nosotros {
  display: grid;
  grid-area: header;
  width: 100%; }

.acordion_nosotros {
  display: grid;
  grid-area: acordion;
  padding: 2px; }

.footer_nosotros {
  display: grid;
  grid-area: footer; }

/* GRID MOCKUP */
.contenedor_mock {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 327px 1fr 150px;
  grid-template-areas: "header " "videos " "footer "; }

.header_mock {
  display: grid;
  grid-area: header;
  width: 100%; }

.videos_mock {
  display: grid;
  grid-area: videos; }

.footer_mock {
  display: grid;
  grid-area: footer; }

.subtitulo {
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .subtitulo .subtitulo_1 {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    align-self: flex-end;
    text-align: center;
    border: 6px double #867f7f;
    margin-bottom: 10em;
    margin-top: 0em;
    padding: 2em; }

/* ANIMACION INDEX */
@keyframes aparecer {
  0% {
    opacity: 90%; }
  10% {
    opacity: 30%; }
  50% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }

.animacion {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.service {
  margin: 0;
  border: 0;
  padding: 0; }
  .service .servicios {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 5em 5em;
    border: 2px solid #867f7f; }

.logo {
  position: relative;
  margin: 0;
  padding: 0em;
  border: 0 solid;
  text-align: center; }
  .logo .logo__1 {
    border: 0 double #faaa55fa;
    border-width: 5px;
    width: auto;
    min-height: 600px; }

article {
  padding: 20em 10em; }
  article .articulo {
    color: white;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-style: italic; }

/* ACORDEON NOSOTROS */
.acordion_nosotros .accordion {
  --bs-accordion-bg: #201E1F !important; }

.acordion_nosotros .accordion-button:not(.collapsed) {
  background-color: #201E1F !important; }

.acordion_nosotros .nostrosTitulo {
  font-size: 10em;
  font-family: 'Courier New', Courier, monospace;
  text-align: center; }

.acordion_nosotros .nosotrosTitulo h2 {
  text-align: center !important;
  border: 1px solid #f9f7fc !important;
  margin: 2em !important; }

.acordion_nosotros .nosotrosTitulo p {
  font-size: 2em;
  font-family: cursive;
  text-align: center; }

.galeria div {
  height: 293px;
  width: 293px; }

/* CONTACTO */
.contact_redes {
  margin: 1em; }
  .contact_redes .contactos {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-between; }
    .contact_redes .contactos .contactos__link1, .contact_redes .contactos .contactos__link2, .contact_redes .contactos .contactos__link3, .contact_redes .contactos .contactos__link4 {
      display: inline-block;
      text-decoration: none;
      align-self: flex-start;
      padding: 5em 2em;
      font-family: 'Courier New', Courier, monospace; }
  .contact_redes .redes__Contact {
    color: white;
    font-size: 2em;
    font-family: cursive; }
  .contact_redes .img__ig {
    position: relative;
    top: 2em;
    border-radius: 50%; }
  .contact_redes .img__fb {
    position: relative;
    top: 2em;
    border-radius: 50%; }
  .contact_redes .img__tw {
    position: relative;
    top: 2em;
    border-radius: 50%; }
  .contact_redes .img__lkd {
    position: relative;
    top: 1em; }
  .contact_redes div .wsp .img__wsp {
    position: relative;
    top: 2em;
    border-radius: 50%; }
  .contact_redes div .wsp .wsp {
    margin: 5em 1em 4em; }

form {
  margin: 13em 1em; }
  form .datos__form--label {
    margin-top: 2em;
    margin-bottom: 1em; }
  form .datos__form--label {
    margin-top: 2em;
    margin-bottom: 1em; }
  form .datos__form--label {
    margin-top: 2em;
    margin-bottom: 1em; }
  form .datos__form--label {
    margin-top: 2em;
    margin-bottom: 1em; }
  form .textarea {
    position: relative;
    left: 5em;
    margin: auto; }

.formulario {
  text-align: center;
  margin-top: 4em;
  padding: 3em;
  border: 3em; }

.datos__form {
  color: white;
  font-size: 2em;
  font-family: cursive;
  border: chocolate; }

.videos_mock .videos {
  display: flex;
  flex-flow: row wrap;
  border: 2em double #ccc5c5;
  margin: 2em;
  padding: 2px;
  align-items: center; }

.videos_mock .mock1, .videos_mock .mock2, .videos_mock .mock3, .videos_mock .mock4 {
  display: flex;
  position: relative;
  margin: 5em;
  padding: 2px;
  border: 2px #f7a168;
  border-style: groove;
  box-shadow: lightgray 10px;
  top: 0;
  left: 0;
  margin: 1em auto; }

.videos_mock .mock2 {
  margin: 1em auto; }

.videos_mock .mock3 {
  top: 0;
  right: 0;
  margin: 1em auto; }

.videos_mock .mock4 {
  bottom: 0;
  margin: 1em auto;
  align-items: flex-end;
  align-self: end; }

@media screen and (max-width: 500px) {
  .menu_header {
    flex-wrap: wrap;
    margin-top: -9em; }
  .menu_header_contacto {
    margin-top: -11em; }
  .menu_header_galeria {
    margin-top: -11em; } }

@media screen and (max-width: 1146px) {
  .astro {
    top: -12px;
    left: 30%; } }

@media screen and (max-width: 991px) {
  .navbar-brand {
    margin-left: 5em !important;
    background-color: #faaa55fa !important;
    margin-top: 15%; }
  .astro {
    margin-top: 0px; }
  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    background-color: #faaa55fa !important;
    margin-top: -5em !important; }
  a.nav-link {
    background-color: #faaa55fa !important; }
  .nav-item {
    border: #201E1F 1px solid;
    border-bottom: 0px; } }

h2 {
  color: white;
  font-size: 3rem; }

p {
  color: white;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace; }

.contac_redes a b {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  text-decoration: none; }

.contac_redes a {
  text-decoration: none; }
