/* GRIDS    INDEX */

.contenedor {

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 327px 500px 500px 600px 0.5fr 600px 150px;
    grid-template-areas:
        "header"
        "subtitulo"
        "servicios"
        "logo"
        "article"
        "logo1"
        "footer"
    ;
    justify-items: stretch;
    justify-content: stretch;


}

.header:first-child {
    grid-area: header;
    justify-self: stretch;
    width: 100%;


}

.subtitulo {
    grid-area: subtitulo;
    justify-self: stretch;

}

.service {
    grid-area: servicios;
    justify-self: stretch;

}

.logo {
    grid-area: logo;
    height: 100%;
    width: auto;

}

.articulo {
    grid-area: article;
    justify-self: stretch;

}

.logo1 {
    grid-area: logo1;
    height: 100%;


}

/* GRID CONTACTO */

.contenedor__contacto {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 327px 0.5fr 0.5fr 150px;
    grid-template-areas:
        "header "
        "formulario"
        "redes"
        "footer";
}

.header__contacto {
    grid-area: header;
    padding: 2em 1em;
}

.formulario {
    grid-area: formulario;
    padding: 2em 1em;
}

.contac_redes {
    grid-area: redes;
    padding: 2em 1em;


}

.footer__contacto {
    grid-area: footer;
    padding: 2em 1em;
}

/* GALERIA */

/* GRID GALERIA */

.contenedor_galeria {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 327px 1fr 150px;
    grid-template-areas:
        "header"
        "fotos"
        "footer";

}

.header {
    display: grid;
    grid-area: header;
}

.grid_fotos {
    display: grid;
    grid-area: fotos;

}

.footer {
    display: grid;
    grid-area: footer;
}

/* GRIDS GALERIA FOTOS */

.galeria {

    
    height: 100%;
    width: 100%;

    position: relative;
    border: 5px double rgb(122, 110, 110);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:

        "galeria10        galeria20     galeria30"
        "galeria40        galeria50     galeria60"
        "galeria70        galeria80     galeria90"
        "galeria100        galeria110     galeria120"
        "galeria130        galeria140     galeria150"
        "galeria160        galeria170     galeria180"
    ;

    align-items: baseline;
    justify-items: center;
    padding: 40px;


}
.galeria10 {
    grid-area: galeria10;
    width: 100%;
    height: auto;
}

.galeria20 {
    grid-area: galeria20;
    width: 100%;
    height: auto;
}

.galeria30 {
    grid-area: galeria30;
    width: 100%;
    height: auto;
}

.galeria40 {
    grid-area: galeria40;
    width: 100%;
    height: auto;
}

.galeria50 {
    grid-area: galeria50;
    width: 100%;
    height: auto;
}

.galeria60 {
    grid-area: galeria60;
    width: 100%;
    height: auto;
}

.galeria70 {
    grid-area: galeria70;
    width: 100%;
    height: auto;
}

.galeria80 {
    grid-area: galeria80;
    width: 100%;
    height: auto;
}

.galeria90 {
    grid-area: galeria90;
    width: 100%;
    height: auto;
}

.galeria100 {
    grid-area: galeria100;
    width: 100%;
    height: auto;
}

.galeria110 {
    grid-area: galeria110;
    width: 100%;
    height: auto;
}

.galeria120 {
    grid-area: galeria120;
    width: 100%;
    height: auto;
}

.galeria130 {
    grid-area: galeria130;
    width: 100%;
    height: auto;
}

.galeria140 {
    grid-area: galeria140;
    width: 100%;
    height: auto;
}

.galeria150 {
    grid-area: galeria150;
    width: 100%;
    height: auto;
}

.galeria160 {
    grid-area: galeria160;
    width: 100%;
    height: auto;
}

.galeria170 {
    grid-area: galeria170;
    width: 100%;
    height: auto;
}

.galeria180 {
    grid-area: galeria180;
    width: 100%;
    height: auto;
}

/* NOSOTROS GRID */

.contenedor_nosotros {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 327px 1fr 150px;
    grid-template-areas:
        "header"
        "acordion"
        "footer";

}

.header_nosotros {
    display: grid;
    grid-area: header;
    width: 100%;
}

.acordion_nosotros {
    display: grid;
    grid-area: acordion;
    padding: 2px;
}

.footer_nosotros {
    display: grid;
    grid-area: footer;
}

/* GRID MOCKUP */

.contenedor_mock {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 327px 1fr 150px;
    grid-template-areas:
        "header "
        "videos "
        "footer ";
}


.header_mock {
    display: grid;
    grid-area: header;
    width: 100%;

}



.videos_mock {
    display: grid;
    grid-area: videos;
}

.footer_mock {
    display: grid;
    grid-area: footer;
}