


.subtitulo {

    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .subtitulo_1 {
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-self: center;
        align-self: flex-end;
        text-align: center;
        border: 6px double rgb(134, 127, 127);
        margin-bottom: 10em;
        margin-top: 0em;
        padding: 2em;
    
    }

}

/* ANIMACION INDEX */

@keyframes aparecer {
    0% {
        opacity: 90%;

    }

    10% {
        opacity: 30%;

    }

    50% {
        opacity: 50%;

    }

    100% {
        opacity: 100%;
    }
}


.animacion {
    animation-name: aparecer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}
.service {
    margin: 0;
    border: 0;
    padding: 0;

    .servicios {
        color: white;
        text-align: center;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
        margin: 5em 5em;
        border: 2px solid rgb(134, 127, 127);
    
    }
}

.logo {


    position: relative;
    margin: 0;
    padding: 0em;

    border: 0 solid;
    text-align: center;

    .logo__1 {
        border: 0 double #faaa55fa;
        border-width: 5px;
        width: auto;
        min-height: 600px;
    }

}
article {
    padding: 20em 10em;
    
    .articulo {
        color: white;
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-style: italic;
    }
}