h2 {
    color: white;
    font-size: 3rem;
}


p {
    color: white;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}
.contac_redes a b{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    text-decoration: none
    ;
    
}
.contac_redes a {
    text-decoration: none;
}
b   {
    font-size: 20px;
}