.videos_mock    {
    .videos {
        display: flex;
        flex-flow: row wrap;
        border: 2em double rgb(204, 197, 197);
        margin: 2em;
        padding: 2px;
        align-items: center;
    }
    
    
    .mock1 {
        display: flex;
        position: relative;
        margin: 5em;
        padding: 2px;
        border: 2px rgb(247, 161, 104);
        border-style: groove;
        box-shadow: lightgray 10px;
        top: 0;
        left: 0;
        margin: 1em auto;
    }
    
    .mock2 {
        display: flex;
        position: relative;
        margin: 5em;
        padding: 2px;
        border: 2px rgb(247, 161, 104);
        border-style: groove;
        box-shadow: lightgray 10px;
        margin: 1em auto;
    }
    
    .mock3 {
        display: flex;
        position: relative;
        margin: 5em;
        padding: 2px;
        border: 2px rgb(247, 161, 104);
        border-style: groove;
        box-shadow: lightgray 10px;
        top: 0;
        right: 0;
        margin: 1em auto;
    }
    
    .mock4 {
        display: flex;
    
        margin: 5em;
        padding: 2px;
        border: 2px rgb(247, 161, 104);
        border-style: groove;
        box-shadow: lightgray 10px;
        bottom: 0;
        margin: 1em auto;
        align-items: flex-end;
        align-self: end;
    }
}