.videos_mock {
    .videos {
        display: flex;
        flex-flow: row wrap;
        border: 2em double rgb(204, 197, 197);
        margin: 2em;
        padding: 2px;
        align-items: center;
    }

    // EXTEND
    .mock1 {
        display: flex;
        position: relative;
        margin: 5em;
        padding: 2px;
        border: 2px #f7a168;
        border-style: groove;
        box-shadow: lightgray 10px;
        top: 0;
        left: 0;
        margin: 1em auto;
    }

    .mock2 {
        @extend .mock1;
        margin: 1em auto;
    }

    .mock3 {
        @extend .mock1;
        top: 0;
        right: 0;
        margin: 1em auto;
    }

    .mock4 {
        @extend .mock1;
        bottom: 0;
        margin: 1em auto;
        align-items: flex-end;
        align-self: end;
    }
}