@import "bootstrap" ;

@import "contacto"  ;

@import "galeria"   ;

@import "grids" ;

@import "header"    ;

@import "index" ;

@import "mediaqueries"  ;

@import "nosotros"  ;

@import "texto" ;

@import "vars"  ;

@import "videos"    ;

body {
    background-color: #201E1F !important;
    font-family: 'Courier New', Courier, monospace;
    
}

/* FOOTER */

footer {
    background-color: #201E1F;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    height: 8em;
    margin-top: 1em;
    border-top: 2px solid #252422fa;
    
    .copy {
        color: white;
        font-size: 2em;
        text-align: end;
    
        margin-bottom: 1px;
        text-justify: bottom;
    
    
    }
    
    .redes {
        color: rgb(249, 247, 252);
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        text-align: right;
        margin-right: 1em;
        font-style: italic;
    }
    
    .logRedes {
        text-align: right;
    
    }
}

