* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #201E1F !important;
    font-family: 'Courier New', Courier, monospace;
    
}

/* FOOTER */

footer {
    background-color: #201E1F;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    height: 8em;
    margin-top: 1em;
    border-top: 2px solid #252422fa;
    
    .copy {
        color: white;
        font-size: 2em;
        text-align: end;
    
        margin-bottom: 1px;
        text-justify: bottom;
    
    
    }
    
    .redes {
        color: rgb(249, 247, 252);
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        text-align: right;
        margin-right: 1em;
        font-style: italic;
    }
    
    .logRedes {
        text-align: right;
    
    }
}
@import "header"    ;
@import "bootstrap" ;
@import "grids" ;
@import "index" ;
@import "nosotros"  ;
@import "galeria"   ;
@import "contacto"  ;
@import "videos"    ;
@import "mediaqueries"  ;
@import "texto" ;
@import "vars"  ;











